
# Mac
.DS_Store
.obsidian/
# Python
venv/
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*

# DBT
target/
dbt_packages/
logs/

# Secrets
.env
*.tfvars
profiles.yml

# Airflow
airflow/logs/

# Python cache
__pycache__/
*.pyc

# dbt artifacts
dbt/target/